*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'PT Serif', serif;
}

:root {
    --first-font-color : dimgray;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.btn {
	background-image: linear-gradient(45deg, #bc4e9c, #f80759);
	padding: 10px 20px;
	border-radius: 5px;
	color: white;
    text-transform: uppercase;
    font-weight: 700;
}

.all_section_banner{
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

a {
    text-decoration: none;
    color: #fff;
}


.container {
	margin: auto;
	max-width: 1140px;
	padding-right: 15px;
	padding-left: 15px;
}


/*Landing page Section start*/

.banner {
    background-image: url(../image/header-bg.png);
}
/*social media section start*/
.social_bar {
    grid-column: 1/4;
    grid-row: 1/2;
    text-align: center;
}

.social_bar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.social_bar a {
    color: #000;
}

.social_bar a i {
    font-size: 1.125em;
    width: 40px;
    height: 40px;
    line-height: 40px;
    transition: 700ms ease;
    overflow: hidden;
}

.social_bar a .fa-instagram:hover {
    border-radius: 50%;
    background-color: #e4405f;
    text-align: center;
    color: #fff;
}

.social_bar a .fa-facebook-f:hover {
    border-radius: 50%;
    background-color: #3b5999;
    text-align: center;
    color: #fff;
}

.social_bar a .fa-twitter:hover {
    border-radius: 50%;
    background-color: #55acee;
    text-align: center;
    color: #fff;
}

.social_bar a .fa-github:hover {
    border-radius: 50%;
    background-color: #000000;
    text-align: center;
    color: #fff;
}

/*social media section end*/

/*hero section start*/
.banner .container {
    display: grid;
    position: relative;
}

.my_self {
    grid-column: 1/2;
    grid-row: 2/4;
    width: 100%;
    position: relative;
}

.my_self_text{
    margin-top: 50%;
    transform: translateY(-50%);
}

.my_self .my_self_text h1 {
    font-size: 3.125em;
    padding-bottom: 10px;
}

.my_self .my_self_text h2 {
    font-size: 3.125em;
    padding-bottom: 10px;
    font-weight: 500;
    color: #e80041;
}


.my_self .my_self_text h3 {
    font-size: 1.563em;
    padding-bottom: 15px;
    font-weight: 600;
}

.my_self .my_self_text p {
    width: 70%;
    font-size: 1.25em;
    text-align: justify;
    padding-bottom: 30px;
    color: var(--first-font-color);
}

.my_banner_img {
    grid-column: 2/4;
    grid-row: 2/4;
}

.my_banner_img img {
    width: 600px;
}

.my_img{
    padding-top: 10%;
}

/*hero section start*/

/*Landing page Section end*/

/*Biography section start*/

.biography{
    background-image: url(../image/biography-bg.png);
}

.biography .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.cartoon_img img{
    width: 450px;
    
    padding-top: 15%;
}

.biography_text {
    margin-top: 60%;
    transform: translateY(-60%);
}

.biography_text h2 {
    font-size: 3.125em;
    padding-bottom: 30px;
}

.biography_text p {
    font-size: 1.563em;
    font-weight: 500;
    color: var(--first-font-color);
    padding-bottom: 30px;
}
/*Biography section end*/

/*work section start*/

.work {
    background-image: url(../image/latest-work-bg.png);
}

.work_heading {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    font-size: 1.875em;
}

.work_example{
    margin-top: 20px;
}

.work_example .work_img {
    width: 355px;
    height: 300px;
    padding-left: 40px;
}

.work_example .work_img img {
    width: 100%;
    border-radius: 10px;
}

/*work section end*/

/*info section end*/

.info {
    background-image: url(../image/footer-bg.png);
}

.client {
    text-align: center;
}

.client_heading {
    padding-top: 30px;
    padding-bottom: 40px;
}

.client_comment{
    width: 40%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.client_comment h3 {
    padding-bottom: 10px;
}

.client_comment h4 {
    padding-bottom: 30px;
    font-weight: 600;
    color: var(--first-font-color);
}

.client_comment p {
    padding-bottom: 80px;
    font-size: 1.125em;
    font-weight: 400;
}

.client_comment p span {
    font-size: 35px;
}

.contact {
    width: 450px;
    height: 100px;
    background-image: linear-gradient(45deg, #bc4e9c, #f80759);
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
    color: #fff;
}

.contact p {
    padding-top: 20px;
    padding-bottom: 10px;
}

/*info section end*/

/*footer section start*/
footer {
    text-align: center;
    color: var(--first-font-color);
    padding-bottom: 10px;
    letter-spacing: 2px;
}
/*footer section end*/